<%- include('./partials/head.ejs')%>

        <form action="/save" method="post">
            <input type="text" name = "cnt">
            <input type="submit" value="submit">
        </form>
        


<%- include('./partials/footer.ejs')%>